.App {
  text-align: center;
  padding-top: 5vh;
}

.inline {
  display: inline-flex;
  align-items: baseline;
}

.marginTop {
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: white;
  float: right;
  margin: 0 2vh;
  font-size: 1.5em;
  opacity: 1;
  display: flex;
  align-items: center;
}

.link:hover {
  color: white;
}

a.activeLink {
  color: #F8A475;
}

a.activeLink:hover {
  color: #F8A475;
}

button:hover {
  opacity: 0.7;
}